    .jio-footer-background {
        background-color: #2b3c49;
        padding: 50px;
    }
    
    .jio-footer-image-icon {
        opacity: 1;
        transition-delay: 0.1s;
        width: 70px
    }
    
    .jio-footer-image-logo {
        opacity: 1;
        transition-delay: 0.1s;
        max-width: 168px
    }
    
    .jio-footer-color-header,
    .jio-footer-logo-text {
        color: #5ad3c0;
    }
    
    .jio-footer-color-text {
        color: #fff!important;
    }
    
    .jio-footer-breakLine {
        width: 1px;
        background-color: #ffffff;
    }
    
    .jio-footer-font-text {
        font-size: 14px;
    }